<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 
<!-- Contents -->
<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-sclae=3.0">
	<!-- Vendor -->
	<!-- Ionicons -->
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<!-- custom -->
	<link rel="stylesheet" th:href="@{dist/css/custom.css}">
	<!-- Theme style -->
	<link rel="stylesheet" th:href="@{dist/css/adminlte.min.css}">
	<!-- <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">Title</title> -->
</head>
<!-- End of Contents -->

</html>